<!doctype html>
<html>
    <head>
        <link type="text/css" href="#">
        <title> Projet Symfony</title>
    </head>
    <body>
    {# pour faire un lien relatif en twig #}
    <a href="{{ path("trois_back_statics") }} " > Page statics</a>
    <h1>on ne change pas une equipe qui gagne </h1>

    <!--<form action="/ma-page-de-traitement" method="post">
        <div>
            <label for="nom">Nom :</label>
            <input type="text" id="nom" />
        </div>
        <div>
            <label for="courriel">Courriel :</label>
            <input type="email" id="courriel" />
        </div>
        <div>
            <label for="message">Message :</label>
            <textarea id="message"></textarea>
        </div>
        <div class="button">
            <button type="submit">Envoyer votre message</button>
        </div>
    </form> -->
    </body>
</html>