{% extends "TroiswaBackBundle::layout_admin.html.twig" %}

{% block content %}
    <h1>Affichage d'une categorie: </h1>
    <ul>
        {# {{ dump(tableauCategory) }} #}
        <li>{{ tableauCategory.title }}</li>
        <li>{{ tableauCategory.description}}</li>

        <li>Liste des produits :
            <ul>
                {% for prod in tableauCategory.products %}

                    <li> {{  prod.title  }} </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endblock %}
