<!doctype html>
<html>
<head>
    <link type="text/css" href="#">
    <title> Projet Symfony</title>
</head>
<body>
<h1> Hello mon layout du symfony</h1>
{% block contenu %}
{% endblock %}

{% block test %}
    du contenu
{% endblock %}
</body>
</html>